<div class="contents row">
  <div class="container">
    <%= form_with(model: @review, local: true) do |form| %>
      <h3>レビューを書く</h3>
       <span class="image-file">画像</span>
       <%= form.file_field :image, class: 'image-hidden' %>
       <%= form.text_field :title, placeholder: "本の題名を入力してください", class: "form-title" %>
       <%= form.text_field :author, placeholder: "本の著者名を入力してください", class: "form-title" %>
       <%= form.collection_select(:genre_id, Genre.all, :id, :name, {}, class: "form-genre") %>
       <%= form.text_area :content, placeholder: "本のレビューを書いてください", rows: "20", class: "form-content" %>
       <%= form.submit "送信", class: "form-button" %>
    <% end %>
  </div>
</div>