<div class="show-contents">
  <div class="image">
    <%= image_tag @review.image.variant(resize:'400x400'), class: 'review-image' if @review.image.attached? %>
  </div>
  <div class="show-content">
    <ul class="show-title">
      <li class="show-list">題名: <%= @review.title%></li>
      <li class="show-list">著者名: <%= @review.author%></li>
      <li class="show-list"><%= @review.content%></li>
    </ul>
    <ul class="edits">
    <% if user_signed_in? && current_user.id == @review.user_id %>
      <li class="edit">編集</li>
      <li class="edit">
        <%= link_to '削除', review_path(@review.id), method: :delete %>
      </li>
    <% end %>
    </ul>
    <div class="fav">いいね</div>
  </div>
</div>
<div class="forms">
  <div class="form">
    <% if current_user %>
      <%= form_with(model: [@review, @comment], local: true) do |form| %>
        <%= form.text_area :sentence, placeholder: "コメントを入力してください", rows: "2", class: "comment-title"%>
        <%= form.submit "送信", class: "comment-button" %>
      <% end %>
    <% else %>
      <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
    <% end %>
  </div>
  <div class="comments">
    <h3>＜コメント一覧＞</h3>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%=  comment.user.nickname %>:</strong>
          <%= comment.sentence %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>