<div class="show-contents">
  <div class="image">
    <%= image_tag @review.image.variant(resize:'400x400'), class: 'review-image' if @review.image.attached? %>
  </div>
  <div class="show-content">
    <ul class="show-title">
      <li class="show-list">題名: <%= @review.title%></li>
      <li class="show-list">著者名: <%= @review.author%></li>
      <li class="show-list"><%= @review.content%></li>
    </ul>
    <ul class="edits">
      <li class="edit">編集</li>
      <li class="edit">削除</li>
    </ul>
  </div>
</div>

<div class="forms">
  <% if current_user %>
    <%= form_with(model: [@review, @comment], local: true) do |form| %>
      <%= form.text_area :sentence, placeholder: "コメントを入力してください", rows: "2" %>
      <%= form.submit "送信" %>
    <% end %>
  <% else %>
    <strong><p>*** コメントの投稿には新規登録/ログインが必要です ***</p></strong>
  <% end %>
  <div class="comments">
    <h4>＜コメント一覧＞</h4>
    <% if @comments %>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>:</strong>
          <%= comment.sentence %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>